@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Microsoft.AspNetCore.SpaServices

@{
    Layout = null;

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TypeScript Workshop - Visual Studio</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>
<body>
    <h1>TypeScript &amp; Webpack</h1>
    <div class="container">
        <br /><h1>ECMAScript</h1>
        <button id="btnGenerate"
                class="btn btn-primary">
            Generate
        </button>
        <br /><br />
        <div id="content"></div>
    </div>
    <script src="~/dist/main-client.js" asp-append-version="true"></script>
</body>
</html>
