@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Microsoft.AspNetCore.SpaServices

@{
    Layout = null;

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TypeScript Workshop - Visual Studio</title>
</head>
<body>
    <h1>TypeScript &amp; Webpack</h1>
    <script src="~/dist/main-client.js" asp-append-version="true"></script>
</body>
</html>
